{% extends 'utils/base.html.twig' %} 
    

{% block stylesheets %}
<link rel="stylesheet" href="/web/assets/dataTables/css/dataTables.bootstrap4.min.css"> 
<link rel="stylesheet" href="/web/assets/dataTables/css/responsive.bootstrap4.min.css"> 
<link rel="stylesheet" href="/web/assets/datePicker/css/bootstrap-datepicker.min.css"> 
{% endblock %} 

{% block body %}
 {% if currentUser.hasPermission('paciente_new') %}
   {% include 'Patients/List/addPatient.html.twig' %}
{% endif %}

    <div class="container userReport tableScreen">
        <div class="row">
            {% include 'Patients/List/patientSearch.html.twig' %}
            <div class ="col-md-9">
        <div class="card">
            <div class="card-header text-left">
                <a class="btn detalle" title="Volver al inicio" href="/"><i class="fa fa-reply" aria-hidden="true"></i></a>
                <h3>Pacientes</h3>
            </div>
            <div class="card-block">
                <div class="tablePage">
                    {% if currentUser.hasPermission('paciente_new') %}
                        <button type="button" id="agregar-btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addPatient">Agregar</button>  
                    {% endif %}
                    <table class="table table-striped" id="patients">
                    <thead>
                        <tr>
                            <th id="nombre">Nombre</th>
                            <th id="apellido">Apellido</th> 
                            <th id="tipoDocumento">Tipo doc.</th>
                            <th id="numeroDocumento">Nº documento</th>
                            <th id="verDetalle">Ver detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'Patients/List/patients.html.twig' %}
                    </tbody>
                </table>

                <!-- paginacion -->
                <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item {% if data.page == 1 %} disabled {% endif %}">
                                <a class="page-link"
                                    href="/patients/{{ data.page - 1 }}?name={{ data.firstName }}&lastName={{ data.lastName }}&documentType={{ data.documentType }}&docNumber={{ data.docNumber }}"
                                    tabindex="-1">Ant
                                </a>
                            </li>
                            {% for i in 1..data.pages %}
                                <li class="page-item {% if i == data.page %} active {% endif %}">
                                    <a class="page-link"
                                        href="/patients/{{ i }}?name={{ data.firstName }}&lastName={{ data.lastName  }}&documentType={{ data.documentType }}&docNumber={{ data.docNumber }}">{{ i }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if data.page == data.pages %} disabled {% endif %}">
                                <a class="page-link" href="/patients/{{ data.page + 1 }}?name={{ data.firstName }}&lastName={{ data.lastName  }}&documentType={{ data.documentType }}&docNumber={{ data.docNumber }}">Sig</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>

        </div>
    </div>
            </div>
    </div>
{% endblock %} 

{% block javascripts %}

    <script src="/web/assets/jquery-validate/jquery.validate.min.js"></script>
    <script src="/web/assets/dataTables/js/datatables.min.js"></script>
    <script src="/web/assets/dataTables/js/responsive.bootstrap4.min.js"></script>
    <script src="/web/dist/js/patients.js"></script>
    <script src="/web/dist/js/multi-step-modal.js"></script>

    {% if currentUser.hasPermission('paciente_new') %}
        <script src="/web/assets/datePicker/js/bootstrap-datepicker.min.js"></script>
        <script src="/web/assets/datePicker/locales/bootstrap-datepicker.es.min.js"></script>
        <script src="/web/dist/js/addPatientValidation.js"></script>
        <script src="/web/dist/js/datePickerConfig.js"></script>
    {% endif %}

   {% if newErrors is not null %}
        <script>
            $('#addPatient').modal('show')
        </script>
    {% endif %}

    
   {% if not currentUser.hasPermission('paciente_show') %}
        <script>
            $(document).ready(function() {
                oTable.column(4).visible(false)
            } );
        </script>
    {% endif %}

{% endblock %}

