{% import 'utils/header/navItem.html.twig' as navbar %}

<div class="dropdown">

    <a class="dropdown-toggle nav-link item" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ currentUser.username }}
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <!-- Pacientes -->
        {% if currentUser.hasPermission("paciente_index") %}
            {{ navbar.dropdownItem("Pacientes", "fa-user-md", "/patients") }}
            <div class="dropdown-divider"></div>
        {% endif %}

        <!-- Usuarios -->
        {% if currentUser.hasPermission("usuario_index") %}
            {{ navbar.dropdownItem("Usuarios", "fa-users", "/admin/users", "dropdown_users" ) }}
            <div class="dropdown-divider"></div>
        {% endif %}

        <!-- Configuraci贸n -->
        {% if currentUser.hasPermission("config_index") %}
            {{ navbar.dropdownItem("Configuraci贸n", "fa-cog", "/config", "dropdown_config") }}    
            <div class="dropdown-divider"></div>
        {% endif %}

        {% if currentUser.hasPermission("reportes_index") %}
            {{ navbar.dropdownItem("Reportes", "fa-pie-chart", "/reports", "dropdown_report") }}    
            <div class="dropdown-divider"></div>
        {% endif %}

        <!-- Cerrar Sesi贸n -->
        {{ navbar.dropdownItem('Cerrar Sesi贸n','fa-sign-out', '/logout') }} 

    </div>   
</div>
