{% macro item(name, route, id) %}
<div class="nav-item item">
    <a class="nav-link"{% if id %} id = "{{id}}" {% endif %} href=" {% if route %} {{route}} {% else %} # {% endif %}">{{ name }}</a>
</div>
{% endmacro item %} 


{% macro dropdownItem(name, icon, route, id) %}
<a class="dropdown-item" {% if id %} id = "{{id}}" {% endif %} href=" {% if route %} {{ route }} {% else %} # {% endif %} ">
    <span><i class="fa {{icon}}" aria-hidden="true"></i></span>
    <span> {{name}}</span>
</a>
{% endmacro %}
