<form method="post" action="/admin/users/new" class="modal fade multi-step" id="addUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title step-1" data-step="1">Datos Personales</h4>
                <h4 class="modal-title step-2" data-step="2">Roles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body step step-1">
                <div class="row">
                    <div class="form-group col">
                        <label for="Nombre">Nombre</label>
                        <input type="text" id="firstName" name="firstName" class="form-control {% if 'firstName' in newErrors %}is-invalid{% endif %}" placeholder="Nombre" {% if  newErrors is defined %}value="{{user.firstName}}"{% endif %}>
                        {% if 'firstName' in newErrors %}<label id="firstName-error" class="error" for="firstName">Ingrese el nombre</label>{% endif %}
                    </div>
                    <div class="form-group col">
                        <label for="Apellido">Apellido</label>
                        <input type="text" id="lastName" name="lastName" class="form-control {% if 'lastName' in newErrors %}is-invalid{% endif %}" placeholder="Apellido" {% if  newErrors is defined %} value="{{user.lastName}}"{% endif %}>
                        {% if 'lastName' in newErrors %}<label id="lastName-error" class="error" for="lastName">Ingrese el apellido</label>{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="Direccion De Email">Dirección de Email</label>
                    <input type="email" id="email" name="email" class="form-control {% if ('email' in newErrors) or ('emailExists' in newErrors) %}is-invalid{% endif %}"{% if  newErrors is defined %}  value="{{user.email}}"{% endif %} placeholder="Email">
                    {% if 'email' in newErrors %}<label id="email-error" class="error" for="email">Debe ingresar un email valido</label>{% endif %}
                    {% if 'emailExists' in newErrors %}<label id="email-error" class="error" for="email">El correo ingresado ya esta registrado</label>{% endif %}
                </div>
                <div class="form-group">
                    <label for="nombre de usuario">Nombre de Usuario </label>
                    <input type="text" id="username" name="username" class="form-control {% if ('usrLength' in newErrors) or ('usrExists' in newErrors) %}is-invalid{% endif %}"{% if  newErrors is defined %} value="{{user.username}}"{% endif %} placeholder="Nombre de usuario">
                    {% if 'usrLength' in newErrors %}<label id="username-error" class="error" for="username">Debe tener al menos 6 caracteres</label>{% endif %}
                    {% if 'usrExists' in newErrors %}<label id="username-error" class="error" for="username">Nombre de usuario ya registrado</label>{% endif %}
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="Contraseña">Contraseña</label>
                        <input type="password" id="pass" name="pass" class="form-control {% if 'passwordLength' in newErrors %}is-invalid{% endif %}" placeholder="Contraseña">
                        {% if 'passwordLength' in newErrors %}<label id="pass-error" class="error" for="pass">Debe tener al menos 6 caracteres</label>{% endif %}
                    </div>
                    <div class="form-group col">
                        <label for="Confirmar Contraseña">Confirmar contraseña</label>
                        <input type="password" id="confirmPass" name="confirmPass" class="form-control {% if 'passwordConfirm' in newErrors %}is-invalid{% endif %}" placeholder="Confirmar contraseña">
                        {% if 'passwordConfirm' in newErrors %}<label id="confirmPass-error" class="error" for="confirmPass">No coinciden</label>{% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-body step step-2">
                {% for role in data.roles %}
                    <div class="form-check">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="roles[]" value="{{ role.id }}">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ role.name }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-default" id="cancelbtn">Cancelar</button>
                <button type="button" class="btn btn-primary step step-1" id="goNext" data-step="1">Continuar</button>
                <button type="button" class="btn btn-primary step step-2"  id="goBack" data-step="1">Volver</button>
                <button type="submit" id="submitUser" class="btn btn-primary step step-2" data-step="1">Confirmar</button>
            </div>
        </div>
    </div>
</form>
