{% import 'utils/switch.html.twig' as switch %}

<form method="post" action="/admin/users/edit" class="modal fade" id="editUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- card header -->
            <div class="modal-header">
                <h5 class="modal-title">Editar Usurio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- card body -->
            <div class="modal-body">

                <!--navlinks -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="true">Datos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password">Contraseña</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="roles-tab" data-toggle="tab" href="#roles" role="tab" aria-controls="roles">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="state-tab" data-toggle="tab" href="#state" role="tab" aria-controls="state">Estado</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    
                    <!--Datos Personales -->
                    <div class="container tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <input type="hidden" id="userId" name="userId" value="{{ user.id }}">
                        <div class="row">
                            <div class="form-group col">
                                <label for="editName">Nombre</label>
                                <input type="text" id="editName" name="firstName"  value="{{user.firstName}}" class="form-control {% if 'firstName' in editErrors %}is-invalid{% endif %}" placeholder="Nombre">
                                 {% if 'firstName' in editErrors %}<label id="firstName-error" class="error" for="firstName">Ingrese el nombre</label>{% endif %}
                            </div>
                            <div class="form-group col">
                                <label for="editLastName">Apellido</label>
                                <input type="text" value="{{user.lastName}}" id="editLastName" name="lastName" class="form-control" placeholder="Apellido">
                                {% if 'lastName' in editErrors %}<label id="lastName-error" class="error" for="lastName">Ingrese el apellido</label>{% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editEmail">Dirección de Email</label>
                            <input type="email"  value="{{user.email}}" id="editEmail" name="email" class="form-control {% if ('email' in editErrors) or ('emailExists' in editErrors) %}is-invalid{% endif %}" placeholder="Email">
                            {% if 'email' in editErrors %}<label id="email-error" class="error" for="email">Debe ingresar un email valido</label>{% endif %}
                            {% if 'emailExists' in editErrors %}<label id="email-error" class="error" for="email">El correo ingresado ya esta registrado</label>{% endif %}
                        </div>
                        <div class="form-group">
                            <label for="editUsername">Nombre de Usuario </label>
                            <input type="text" value="{{user.username}}" id="editUsername" name="username" class="form-control  {% if ('usrLength' in editErrors) or ('usrExists' in editErrors) %}is-invalid{% endif %}" placeholder="Nombre de usuario">
                                {% if 'usrLength' in editErrors %}<label id="username-error" class="error" for="username">Debe tener al menos 6 caracteres</label>{% endif %}
                                {% if 'usrExists' in editErrors %}<label id="username-error" class="error" for="username">Nombre de usuario ya registrado</label>{% endif %}
                        </div>
                    </div>

                    <!-- Cambio de contraseña -->
                    <div class="container tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                        <div class="row">
                            <div class="form-group col">
                                <label for="newPass">Nueva <span class="hidden"> contraseña</span></label>
                                <input type="password" id="newPass" name="pass" class="form-control" placeholder="Contraseña">
                            </div>
                            <div class="form-group col">
                                <label for="confirmNewPass">Confirmar<span class="hidden"> contraseña</span></label>
                                <input type="password" id="confirmNewPass" name="confirmPass" class="form-control" placeholder="Contraseña">
                            </div>
                        </div>
                    </div>

                    <!-- Roles del usuario -->
                    <div class="container tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">

                        {% for role in data.roles %}
                            <div class="form-check">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="edit{{ role.name }}" name="roles[]" value="{{ role.id }}" {% if editErrors is defined and user.hasRole(role.id)%}checked{% endif %}>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{ role.name }}</span>
                                </label>
                            </div>
                        {% endfor %}

                    </div>

                    <!-- Estado del usuario -->
                    <div class="container tab-pane fade text-center" id="state" role="tabpanel" aria-labelledby="state-tab">
                        {{ switch.item('Activo','Bloqueado', 'status') }}
                    </div>
                    
                </div>
            </div>

            <!-- card footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</form>
