{% for user in data.users %}
<tr>

    <td headers="nombreUsuario">{{ user.userName }}</td>
    <td headers="nombre">{{ user.firstName }}</td>
    <td headers="apellido">{{ user.lastName }}</td>
    <td headers="Email">{{ user.email }}</td>
    <td headers="rolesUsuario">{% for role in user.roles %}{{ role.name }}<br>{% endfor %}</td>
    <td headers="estado">{% if user.active %}Activo{% else %}Bloqueado{% endif %}</td>
    <td headers="modification">{{user.updatedAt|date("d/m/Y, H:i")}}</td>
    <td headers="creation">{{user.createdAt|date("d/m/Y, H:i")}}</td>

    <td  headers="opciones" class="text-center">

        <div class="btn-group" role="group">

            {% if currentUser.hasPermission('usuario_update') %}
                <button type="button" data-toggle="modal" data-target="#editUser" title="Editar" data-id="{{ user.id }}" class="btn btn-orange btn-sm editbtn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            {% endif %} 

        </div>
    </td>
</tr>
{% endfor %}
