{% macro new_article(title, icon, text, route) %}
    <div class="col-lg-4">
        <div class="iconbox-4">
            <i class="fa {{ icon }}"></i>
            <br><br>
            <h2 class="heading">{{ title }}</h2>
            <p>{{text}}</p>
            <br>
            <a href="{% if route %} {{ route }} {% else %} # {% endif %}" class="btns btn-black btn-sm">Leer más</a>
        </div>
    </div>
{% endmacro new_article %}


{% macro edit_article(title, id, icon, body, route) %}
    <div class="col-lg-4">
        <div class="iconbox-4">
            <i class="fa {{ icon }}"></i>
            <br><br>
            <input maxlength="25" type="text" id="title{{id}}" name="title{{id}}" class="title heading" value="{{ title }}" required placeholder="Complete el título">
            <textarea class="body" id="body{{id}}" name="body{{id}}" required placeholder="Escriba aquí el texto">{{body}}</textarea>
            <br>
        </div>
    </div>
{% endmacro edit_article %}
