{% import 'utils/switch.html.twig' as switch %} 

<form method="post" action="/patients/new" class="modal fade multi-step" id="addPatient">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title step-1" data-step="1">Datos Personales</h4>
                <h4 class="modal-title step-2" data-step="2">Datos Demograficos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Datos Personales -->

            <div class="modal-body step step-1">
                <div class="row">
                    <div class="form-group col">
                        <label for="Nombre">Nombre*</label>
                        <input type="text" id="firstName" name="firstName" class="form-control {% if 'firstName' in newErrors %}is-invalid{% endif %}" placeholder="Nombre" {% if  newErrors is defined %}value="{{patient.firstName}}"{% endif %}>
                        {% if 'firstName' in newErrors %}<label id="firstName-error" class="error" for="firstName">Ingrese el nombre</label>{% endif %}
                    </div>
                    <div class="form-group col">
                        <label for="Apellido">Apellido*</label>
                        <input type="text" id="lastName" name="lastName" class="form-control {% if 'lastName' in newErrors %}is-invalid{% endif %}" placeholder="Apellido" {% if  newErrors is defined %} value="{{patient.lastName}}"{% endif %}>
                        {% if 'lastName' in newErrors %}<label id="lastName-error" class="error" for="lastName">Ingrese el apellido</label>{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="Nombre">Tipo Documento*</label>
                        <select id="typeDni" name="documentTypeId" class="form-control form-control-chosen-required" data-placeholder="Tipo de documento">
                            {% for documentType in patientFields.documentType %}
                            <option value="{{ documentType.id }}">{{ documentType.name }}</option>
                            {% endfor %}
                        </select>
                        {% if 'documentType' in newErrors %}<label id="typeDni-error" class="error" for="documentType">Ingrese el tipo de documento</label>{% endif %}
                    </div>
                    <div class="form-group col">
                        <label for="Nº documento">Nº documento*</label>
                        <input type="text" id="dni" name="documentNumber" class="form-control {% if 'dni' in newErrors %}is-invalid{% endif %}" placeholder="Numero de documento" {% if  newErrors is defined %} value="{{patient.dni}}"{% endif %}>
                        {% if 'documentNumber' in newErrors %}<label id="dni-error" class="error" for="documentNumber">Ingrese el nº de documento</label>{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="Nombre">Género*</label>
                        <select id="gender" name="genderId" class="form-control form-control-chosen-required" data-placeholder="Tipo de documento">
                            {% for gender in patientFields.gender %}
                            <option value="{{ gender.id }}">{{ gender.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="Apellido">Fecha de Nacimiento*</label>
                        <input type="date" id="birthday" name="birthday" min="1900-01-01" max="{{ "now"|date("Y-m-d") }}"class="form-control {% if 'lastName' in newErrors %}is-invalid{% endif %}" placeholder="Nacimiento">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Domicilio*</label>
                    <input type="text" id="address" name="address" class="form-control {% if 'address' in newErrors %}is-invalid{% endif %}"{% if  newErrors is defined %}  value="{{patient.address}}"{% endif %} placeholder="Domicilio">
                    {% if 'address' in newErrors %}<label id="address-error" class="error" for="address">Debe ingresar una dirección</label>{% endif %}
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="Nombre">Teléfono</label>
                        <input type="number" minlength="5" id="phone" name="phone" class="form-control {% if 'phone' in newErrors %}is-invalid{% endif %}" placeholder="Teléfono" {% if  newErrors is defined %}value="{{patient.phone}}"{% endif %}>
                        {% if 'phone' in newErrors %}<label id="phone-error" class="error" for="phone">Ingrese el nombre</label>{% endif %}
                    </div>
                    <div class="form-group col">
                        <label for="insurance">Obra Social</label>
                        <select id="insurance" name="insuranceId" class="form-control form-control-chosen-required" data-placeholder="Obra Social">
                            {% for insurance in patientFields.insurance %}
                            <option value="{{ insurance.id }}">{{ insurance.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <!-- Datos Demograficos -->

            <div class="modal-body step step-2">
             <div class="row">
                    <div class="form-group col">
                        <label for="insurance">¿Tipo de vivienda?*</label>
                        <select id="house" name="houseTypeId" class="form-control form-control-chosen-required" data-placeholder="Vivienda">
                            {% for houseType in patientFields.houseType %}
                            <option value="{{ houseType.id }}">{{ houseType.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="insurance">¿Tipo de calefacción?*</label>
                        <select id="heat" name="heatingTypeId" class="form-control form-control-chosen-required" data-placeholder="Calefaccion">
                            {% for heatingType in patientFields.heatingType %}
                            <option value="{{ heatingType.id }}">{{ heatingType.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="insurance">¿Tipo de agua?*</label>
                        <select id="heat" name="waterTypeId" class="form-control form-control-chosen-required" data-placeholder="Calefaccion">
                            {% for waterType in patientFields.waterType %}
                            <option value="{{ waterType.id }}">{{ waterType.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>  
                <div class="row">
                    <div class="form-group col text-center">
                        <label for="fridge">¿Tiene heladera?*</label>
                        {{ switch.item('Tiene','No tiene', 'refrigerator') }}
                    </div>
                    <div class="form-group col text-center">
                        <label for="electricity">¿Tiene electricidad?*</label>
                        {{ switch.item('Tiene','No tiene', 'electricity') }}
                    </div>
                    <div class="form-group col text-center">
                        <label for="pets">¿Tiene mascotas?*</label>
                        {{ switch.item('Tiene','No tiene', 'pet') }}
                    </div>
                </div>           
            </div>

            <!-- Botones -->

            <div class="modal-footer">
                <small id="error" class="error">*Campos Obligatorios</small>
                <button type="button" class="btn btn-default cancel" id="cancelbtn">Cancelar</button>
                <button type="button" class="btn btn-primary step step-1" id="goNext" data-step="1">Continuar</button>
                <button type="button" class="btn btn-primary step step-2"  id="goBack" data-step="1">Volver</button>
                <button type="submit" id="submitpatient" class="btn btn-primary step step-2" data-step="1">Confirmar</button>
            </div>
        </div>
    </div>
</form>
