{% for patient in patients %}
    <tr>
        <td>{{ patient.documentType.name }}</td>
        <td>{{ patient.docNumber }}</td>
        <td>{{ patient.firstName }}</td>
        <td>{{ patient.lastName }}</td>
        <td class="text-center">
            <div class="btn-group" role="group">
                <a href="/patient/{{ patient.id }}" class="btn btn-sm btn-primary" title="Ver en detalle"><i class="fa fa-user" aria-hidden="true"></i></a>
                <button type="button" data-toggle="modal" data-target="#deletePatient" title="Eliminar" data-id="2" class="btn btn-danger btn-sm deletebtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        </td>
    </tr>
    
{% endfor %}
