{% for patient in data.patients %}
    <tr>
        <td headers="nombre">{{ patient.firstName }}</td>
        <td headers="apellido">{{ patient.lastName }}</td>
        <td headers="tipoDocumento">{{ patient.documentType.name }}</td>
        <td headers="numeroDocumento">{{ patient.docNumber }}</td>
     
        <td headers="verDetalle" class="text-center">
           {% if currentUser.hasPermission('paciente_show') %}
                <div class="btn-group" role="group">
                    <a href="/patient/{{ patient.id }}" class="btn btn-sm btn-primary" title="Ver en detalle"><i class="fa fa-user" aria-hidden="true"></i></a>
                </div>
            {% endif %}
        </td>
    </tr>
    
{% endfor %}
