{% embed 'utils/tablePage/search.html.twig' %} 

    {% block content %}

        <!-- nombre -->
        <div class="form-group">
            <label class="col-xs-3 control-label">Nombre:</label>
            <input type="text" name="name" value="{{ data.firstName }}" class="form-control" placeholder="Nombre">
        </div>

       <!-- apellido -->
        <div class="form-group">
            <label class="col-xs-3 control-label">Apellido:</label>
            <input type="text" name="lastName" value="{{ data.lastName }}" class="form-control" placeholder="Apellido">
        </div>

       <!-- tipo -->
        <div class="form-group">
            <label for="Nombre">Tipo:</label>
            <select id="typeDni" name="documentType" class="form-control form-control-chosen-required" data-placeholder="Tipo de documento">
                <option {% if data.documentType is empty %}selected{% endif %} value="">Tipo Documento</option>
                
                {% for documentType in data.patientFields.documentType %}
                    <option {% if data.documentType == documentType.id %}selected{% endif %} value="{{ documentType.id }}">{{ documentType.name }}</option>
                {% endfor %}
            </select>
        </div>

       <!-- documento -->
        <div class="form-group">
            <label for="dni">Documento: </label>
            <input type="text" id="dni" name="docNumber" value="{{ data.docNumber }}" class="form-control" placeholder="Documento">
        </div>
        
    {% endblock %} 
    
{% endembed %}
