{% set days = clinicalRecord.age.format('%d') %}
{% set months = clinicalRecord.age.format('%m') %}
{% set years = clinicalRecord.age.format('%y') %}

<div class="row" id="personalData">
   <div class="col-md-12">
        <div class="white-box">
            <div class="user-btm-box">
                <div class="row text-center m-t-10">
                    <!-- Pediatra -->
                    <div class="col-md-6 b-r"><strong>Pediatra</strong>
                        <p>{{clinicalRecord.user.firstName}} {{clinicalRecord.user.lastName}}</p>
                    </div>
                    <!-- edad -->
                    <div class="col-md-6 b-r">
                        <strong>Edad</strong>
                            <p>{% if years != "0" %} 
                                    {% if years == "1" %} 1 año, 
                                    {% else %} 
                                        {{year}} años, 
                                    {% endif %}
                                {% endif %}
                                {% if months != "0" %} 
                                    {% if months == "1" %} 1 mes y 
                                    {% else %} 
                                        {{months}} meses y 
                                    {% endif %}
                                {% endif %}
                                {% if days == "1" %} 
                                    1 día 
                                {% else %} 
                                    {{days}} días 
                                {% endif %}
                            </p>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <!-- Peso -->
                    <div class="col-md-6 b-r">
                        <strong>Peso</strong>
                        <br>
                        <p>{{clinicalRecord.weight}} kg</p>
                    </div>
                    <!-- Talla -->
                    <div class="col-md-6 b-r">
                        <strong>Talla</strong>
                        <br>
                        {% if clinicalRecord.height %}
                            <p>{{clinicalRecord.height}} {% if clinicalRecord.height is not null %} cm {% endif %}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <!-- Examen físico -->
                    <div class="col-md-6 b-r"><strong>¿Exámen físico normal?</strong>
                        <br>
                        {% if clinicalRecord.fisicTest == true %}
                            <p>Si</p>
                        {% else %}
                            <p>No</p>
                        {% endif %}
                    </div>
                    <!-- Observaciones del examen físico  -->
                    <div class="col-md-6 b-r">
                        <strong>Exámen físico observaciones</strong>
                        <br>
                        <p>{{clinicalRecord.fisicTestObservation}}</p>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <!-- Vacunas -->
                    <div class="col-md-6 b-r">
                        <strong>¿Vacunas completas?</strong>
                        {% if clinicalRecord.vaccination  %}
                            <p>Si</p>
                        {% else %}
                            <p>No</p>
                        {% endif %}
                    </div>
                    <!-- Observaciones Vacunas -->
                    <div class="col-md-6 b-r">
                        <strong>Vacunas observaciones</strong>
                        <br>
                        <p>{{clinicalRecord.vaccinationObservation}}</p>
                    </div>
                </div>
                <hr>
                <!-- Maduración  -->
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>¿Maduración acorde?</strong>
                        <br>
                        {% if clinicalRecord.maturation %}
                            <p>Si</p>
                        {% else %}
                            <p>No</p>
                        {% endif %}
                    </div>
                    <!-- Observaciones de maduración  -->
                    <div class="col-md-6 b-r">
                        <strong>Maduración observaciones</strong>
                        <br>
                        <p>{{clinicalRecord.maturationObservation}}</p>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <!-- PC  -->
                    <div class="col-md-6 b-r">
                        <strong>Percentil Cefálico (PC)</strong>
                        <br>
                        {% if clinicalRecord.pc %}
                            <p>{{clinicalRecord.pc}} cm</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 b-r">
                        <!-- PPC  -->
                        <strong>Percentil Perímetro Cefálico (PPC)</strong>
                        <br>
                        {% if clinicalRecord.ppc %}
                            <p>{{clinicalRecord.ppc}} cm</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <!-- Alimentación  -->
                    <div class="col-md-12">
                        <strong>Alimentación</strong>
                        <br>
                        {% if clinicalRecord.nutrition %}
                            <p>{{clinicalRecord.nutrition}}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                <!-- Observaciones generales  -->
                    <div class="col-md-12">
                        <strong>Observaciones Generales</strong>
                        <br>
                        {% if clinicalRecord.generalObservation %}
                            <p>{{clinicalRecord.generalObservation}}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>