{% set days = clinicalRecord.age.format('%d') %}

<div class="row" id="personalData">
   <div class="col-md-12">
        <div class="white-box">
            <div class="user-btm-box">
                <div class="row text-center m-t-10">
                    <div class="col-md-12">
                        <strong>Edad</strong>
                        {% if clinicalRecord.age.format('%y') == 0 and clinicalRecord.format('%m') == 0 %}
                            <p>{% if days == "1" %} 1 día {% else %} {{days}} dias {% endif %}</p>
                        {% elseif clinicalRecord.age.format('%y') == 0 %}
                            <p>{{ clinicalRecord.age.format('%m meses y ') }}{% if days == "1" %} 1 día {% else %} {{days}} dias {% endif %}</p>
                        {% else %}
                            <p>{{ clinicalRecord.age.format('%y años, %m meses y') }} {% if days == "1" %} 1 día {% else %} {{days}} dias {% endif %}</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-6">
                        <strong>Peso</strong>
                        <br>
                        <p>{{clinicalRecord.weight}}</p>
                    </div>
                    <div class="col-md-6 b-r">
                        <strong>Talla</strong>
                        <br>
                        {% if clinicalRecord.height %}
                            <p>{{clinicalRecord.height}}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r"><strong>¿Exámen físico normal?</strong>
                        <br>
                        {% if clinicalRecord.fisicTest == true %}
                            <p>Si</p>
                        {% else %}
                            <p>No</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 b-r">
                        <strong>Exámen físico observaciones</strong>
                        <br>
                        <p>{{clinicalRecord.fisicTestObservation}}</p>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>¿Vacunas completas?</strong>
                        {% if clinicalRecord.vaccination  %}
                            <p>Si</p>
                        {% else %}
                            <p>No</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 b-r">
                        <strong>Vacunas observaciones</strong>
                        <br>
                        <p>{{clinicalRecord.vaccinationObservation}}</p>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-6">
                        <strong>¿Maduración acorde?</strong>
                        <br>
                        {% if clinicalRecord.maturation %}
                            <p>Si</p>
                        {% else %}
                            <p>No</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <strong>Maduración observaciones</strong>
                        <br>
                        <p>{{clinicalRecord.maturationObservation}}</p>
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r">
                        <strong>Percentilo Cefálico (PC)</strong>
                        <br>
                        {% if clinicalRecord.pc %}
                            <p>{{clinicalRecord.pc}}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <strong>Percentilo Perímetro Cefálico (PPC)</strong>
                        <br>
                        {% if clinicalRecord.ppc %}
                            <p>{{clinicalRecord.ppc}}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-12">
                        <strong>Alimentación</strong>
                        <br>
                        {% if clinicalRecord.nutrition %}
                            <p>{{clinicalRecord.nutrition}}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-12">
                        <strong>Observaciones Generales</strong>
                        <br>
                        {% if clinicalRecord.generalObservation %}
                            <p>{{clinicalRecord.generalObservation}}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row text-center m-t-10">
                    <div class="col-md-12"><strong>Pediatra</strong>
                        <p>{{clinicalRecord.user.firstName}} {{clinicalRecord.user.lastName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>